<div class="row">
  <div class="col-sm-3">
    <div class="card-sean heigth-vote">
      <p>Upvotes</p>
      <h1><%= question.bets.count%></h1>
    </div>
    <div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="card-sean card-sean-callout text-center">
      <div>
        <h1><%= question.content.capitalize%> </h1>
        <h3>Expiry date: <%= question.event_date%> </h3>
        <h5>Question by: <%= question.user.first_name%> </h5>
      </div>
    </div>
  </div>
</div>
