<br>
<br>
<% if question.scenarios.any? %>
  <div class="label-group" >
    <% question.scenarios.each do |scenario| %>
      <button type="button" class="btn btn-default" id="scenario-wrap">
        <%= scenario.content%>
      </button>
    <% end %>
  </div>
<% end %>
