
  <div id="<%= question.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= question.id %>" >
      <!-- <div class="panel-body"> -->

          <% if question.scenarios.any? %>
            <ul>
              <% question.scenarios.each do |scenario| %>
                <li>
                  <%= scenario.content%>
                </li>
              <% end %>
            </ul>
          <% end %>
      </div>



<%= content_for(:after_js) do %>
<script type="text/javascript">
$(document).ready(function () {
$('.collapse').collapse
});
</script>
<% end %>
