
<h3>Search: ...</h3>

<h3>Questions list:</h3>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @questions.each do |question| %>
        <%= render 'question', question: question %>
    <% end %>
    </div>
  </div>
</div>



