
<h3>Search: ...</h3>

<h3>Questions list:</h3>

<div class="wrapper">
  <div class="container">


      <% @questions.each do |question| %>
      <div class="row alert alert-warning">
        <%= render 'question', question: question %>
      </div>
      <% end %>


  </div>
</div>
