
<h3>Search: ...</h3>

<h3>Questions list:</h3>


  <div class="container">
      <% @questions.each do |question| %>
    <div class="card-wrapper">
      <div class="row">
        <%= render 'question', question: question %>
      </div>
    </div>
      <% end %>


  </div>

