<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <%if user_signed_in? && !@existing_bet %>
        <%= render 'before-bet', question: @question %>

        <% if @pending.empty? && user_signed_in? %>
          <%= button_to 'Bet later', question_makepending_path(@question), method: :patch, class: 'btn btn-warning' %>
        <% end %>
        <%end%>
        <%if @existing_bet%>
        <%= render 'after-bet', question: @question %>
        <%end%>
      </div>
      <div class="col-sm-3">
        <%= render 'sidebar', randque: @randque %>
      </div>
    </div>
  </div>
</div>
