<br>

<div class="container">

  <div class="row">
    <div class="col-sm-12 ">
         <div class="nav navbar-default text-center">

           <%= image_tag 'logo', height: '50px', class: 'text-center' %>
        <span>
           <%= current_user.first_name %>
        </span>
         </div>
    </div>

  </div>

</div>
