<br>

<div class="container">

  <div class="row">
    <div class="col-sm-12 ">
         <div class="nav navbar-default text-center">
              <h1 class="fa fa-wheelchair-alt">
            </h1>

        <span>
           <%= current_user.first_name %>
        </span>
         </div>
    </div>

  </div>

</div>
