/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
$font-family-base: 'Roboto Condensed', sans-serif;
$headings-font-family: 'Raleway', sans-serif;

$font-weight-bold: 800;
$headings-font-weight: $font-weight-bold;

$base-size: 16px;
$base-height: 1.4;

// Color
$black:       #333d47;
$purple:      #5E60BA;
$purple-dark: #293159;
//$blue:        #2BCEE1;
$pink:        #F37AD6;
$body-bg:     #EEF4F7;
$progress-bg: #293159;
// Scheme
$brand-color: #5E60BA;
$btn-warning-bg:  #5E60BA;
$brand-warning:   #5E60BA;
$btn-info-bg:     #293159;
$table-border-color: #293159;
$label-danger-bg: #f1c40f;
$table-bg:    white;
$navbar-default-bg: #ecf0f1;
$red:    #c0392b;
$blue:   #3498db;
$yellow: #f1c40f;
$orange: #E67E22;
$green:  #27ae60;
// Gray scale
$gray-darker:  #34495e;// #222
$gray-dark:    #7f8c8d;  // #333
$gray:         #9095b0;
$gray-light:   #bdc3c7; // #777
$gray-lighter: #ecf0f1;// #eee



h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: $black !important;
}

body {
  color: $gray !important;
}

$btn-font-weight: $font-weight-bold;
.btn {
  text-transform: uppercase;
  border-radius: 0 !important;
}

.panel {
  border-radius: 0 !important;
}
