/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
$font-family-base: 'Roboto Condensed', sans-serif;
$headings-font-family: 'Raleway', sans-serif;

$font-weight-bold: 800;
$headings-font-weight: $font-weight-bold;

$base-size: 16px;
$base-height: 1.4;

// Color
$black:       #333d47;
$purple:      #5E60BA;
$purple-dark: #293159;
//$blue:        #2BCEE1;
$pink:        #F37AD6;
$body-bg:     #EEF4F7;
$progress-bg: #293159;
// Scheme;
$brand-color: #5E60BA;
$btn-warning-bg:  rgb(192,57,43);
$btn-success-bg: #5E60BA;
$brand-warning:   #5E60BA;
$btn-info-bg:     #27AE60;
$btn-primary-bg:   #3498DB;
$table-border-color: #293159;
$label-danger-bg: #3498db;
$table-bg:    white;
$brand-info: #293159;
$navbar-inverse-bg: #bdc3c7;
$navbar-inverse-color: #293159;
$navbar-inverse-brand-hover-color: #bdc3c7;
$label-danger-bg: #F1C40F;

$component-active-bg: #F37AD6;




$red:    rgb(192,57,43);
$blue:  #3498DB;
$yellow: #F1C40F;
$orange: #E67E22;
$green:  #27AE60;
// Gray scale
$gray-darker:  #34495e;// #222
$gray-dark:    #7f8c8d;  // #333
$gray:         #9095b0;
$gray-light:   #bdc3c7; // #777
$gray-lighter: #ecf0f1;// #eee



h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: $black !important;
}

body {
  color: $gray !important;
}

$btn-font-weight: $font-weight-bold;
.btn {
  text-transform: uppercase;
  border-radius: 0 !important;
}

.panel {
  border-radius: 0 !important;
}
.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear !important;
  animation: fa-spin 6s infinite linear !important;
}
