/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#search-wrapper{
  padding-top: 15px;
  padding-bottom: 15px;
}

#search-engine{
      display:flex;
      flex-direction: column;
}

#search-engine form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#top-tags-display {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  li {
    margin-bottom: 5px;
  }
}

//#search-and-btn-display {
//  flex: 0 0 50%;
//  display: flex;
//  justify-content: flex-end;
//  margin-bottom: 26px;
// }

#top-tag-buttons{
  border-style: solid;
  border-width: 1px;
  border-color: $gray-light;
  padding: 8px;
  margin-left: 5px;
  text-decoration: none;
    a {
    text-decoration: none;
    color: black;
    transition-duration: 3ms;
    }
  :hover{
    border-color: $brand-color;
    color:$brand-color;
    }
}

#_category{
    border-style: solid;
    border-color:  $gray-light;
    color: $gray-light;
    background: white;
    width: 110px;
    height: 47px;
    margin-left: 5px;
    margin-right: 5px;
}

#search_term {
    border-style: solid;
    border-width: 1px;
    border-color:  $gray-light;
    padding-left: 20px;
    line-height: 40px;
    color: $gray-light;
    background: white;
    right: 14px;
    top: -2px;
    z-index: 1;
  }

#search-btn{
    width: 96px;
    border-style: solid;
    border-color:  $gray-light;
    border-radius: 0px;
}

#question-home-wrapper{
  padding-top: 15px;
  padding-bottom: 15px;
}

#scenario-wrap{
  max-width: 285px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#randque-wrapper{
  background-color: white;
  margin-top: 40px;
}

.linking-cards-bottom-of-page{
  height: 200px;
  width: 450px;
  border-style: solid;
  border-color: $gray-lighter;
  margin: 60px;
  padding: 10px;
  display:flex;
}

#medal-icon{
    flex: 0 0 20%;
    img {
      width: 180px;
    }
}

#stats-icon{
    flex: 0 0 20%;
    img {
      width: 180px;
      margin-left: 40px;
    }
}
.text-linking-card{
  flex: 0 0 auto;
}
