/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
<<<<<<< HEAD
#search-wrapper{
  background-color: $gray-lighter;
  padding-top: 15px;
  padding-bottom: 15px;
}

#info-homepage{

}

#search-engine{
      display:flex;
      flex-direction: column;
}

#search-engine form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  #top-tags-display {
  flex: 0 0 50%;
  background-color:yellow;
}

#search-and-btn-display {
  background-color:red;
   flex: 0 0 50%;
}

#top-tag-btn{
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  padding: 5px;
  text-decoration: none;
 a {
  text-decoration: none;
  color: black;
  }
}

#_category{
    border-radius: 5px;
    border-style: solid;
    border-color:  $gray-light;
    color: $gray-light;
    background: white;
    width: 110px;
    height: 47px;

}

#search_term {
    border-radius: 5px;
    border-style: solid;
    border-color:  $gray-light;
    padding-left: 20px;
    line-height: 40px;
    color: $gray-light;
    background: white;
    right: 14px;
    top: -2px;
    z-index: 1;
  }

#search-btn{
    width: 96px;
    border-radius: 5px;
    border-style: solid;
    border-color:  $gray-light;
}


#question-home-wrapper{
  background-color: $gray-lighter;
  padding-top: 15px;
  padding-bottom: 15px;
}



