<div class="jumbotron text-center">
  <div class="alert alert-success ">

          <%= link_to root_path do %>
          <%= image_tag 'logotest.png',  class:'img-responsive text-center', style: 'max-width: 90px' %>
          <% end %>
  </div>

</div>
