<footer>
<div class="jumbotron text-center navbar-bottom", id="foo-pro">
  <div class="alert alert-success ", id="footer-pronostik">

          <%= link_to root_path do %>
          <%= image_tag 'logotest.jpg',  class:'img-responsive text-center', style: 'max-width: 90px' %>
          <% end %>
  </div>

</div>
</footer>
