<footer class="footer">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to root_path do %>
          <%= image_tag 'logoProno.png',  class:'img-responsive text-center', style: 'max-width: 90px' %>
        <% end %>
      </div>
      <div class="col-xs-3 text-right">
        <h5>About Us</h5>
      </div>
      <div class="col-xs-2 text-left">
        <h5>Discover More</h5>
      </div>
      <div class="col-xs-1">
        <%= link_to "https://www.lewagon.com/" do %>
          <%= image_tag 'lewagon.png',  class:'img-responsive', width: '50px' %>
        <% end %>
      </div>
    </div>
</footer>
