
<footer>
  <div class="navbar navbar-default ">

          <%= link_to root_path do %>
          <%= image_tag 'logoProno.png',  class:'img-responsive text-center', style: 'max-width: 90px' %>
          <% end %>
  </div>
</footer>
