<div class="text-center text-align">

  <h1> Frequently Asked Question </h1>
  <h2> Here is where we explain what this magic is about </h2>

  <p> <strong>
    What are we doing here ?
    </strong>
  </p>
  



</div>
