// Your footer style

#footer {
    background-color: $gray-dark;
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
}

#footer-pronostik{
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

#foo-pro{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

