// Your footer style

#footer {
    background-color: $gray-dark;
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
}

#footer-pronostik{
  background-color: $gray-dark;
  padding-top: 15px;
  padding-bottom: 15px;
}

#foo-pro{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

