// Your footer style

#footer {
  background-color: $gray-dark;
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

#footer-pronostik{
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

#foo-pro{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.flexflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item1 {
  flex: 0 0 10%;
}

.flex-item2 {
  flex: 1 0 auto;
}


.footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  margin-top: 50px;
  padding: 20px;
}

.btn-facebook {
  border-color: #3B5998;
  background-color: #3B5998;
  color: white !important;
  &:hover {
    background-color: #29487D !important;
  }
}
