
// question-card = question incl dropdown scenario's
// card-wrapper = question-card + upvotes & avatar & social-shares

.card-wrapper{
  background-color: $gray-light;
  background-image: linear-gradient(-180deg, #B5AFAF 0%, #E7E1DD 100%);
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  }

.card-row {
  display: flex;
  align-items: center;
}

.question-upvotes, .question-creator, .question-links {
  text-align: center;
}

.arrow, .link-to-bet{
  margin-bottom: 25px;
}

.question-card {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.panel-default > .panel-heading {
  color: white;
  background: none;
}

.panel-group#accordion{
  //text-decoration: none;
  margin-bottom: 0px;
}

.panel{
  text-decoration: none;
  margin-bottom: 0px;
  background: none;
  border: none;
}

a:hover, a:focus {
  text-decoration: none;
}

// social shares css extra
.social-shares{
  text-decoration: none;
}

.social-shares a{
  color: black;
  text-decoration: none;
}

.social-shares i {
  font-size: 30px;
  transition-duration: 3ms;
}

.social-shares i:hover{
  color:yellow;
}

.link-to-bet {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  padding: 10px;
  text-decoration: none;
}

.link-to-bet a{
  text-decoration: none;
  color: black;
}
