
// question-card = question incl dropdown scenario's
// card-wrapper = question-card + upvotes & avatar & social-shares

.card-wrapper{
  color: $gray-darker;
  margin-bottom: 15px;
  padding: 20px;
  border-color: $gray-darker;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-row {
  display: flex;
  align-items: center;
}

.question-upvotes, .question-creator, .question-links {
  text-align: center;
}

.arrow, .link-to-bet{
  margin-bottom: 25px;
}

.question-card {
  padding: 10px;
  margin: 5px;
}

 .panel-default > .panel-heading  {
  color: none;
  background: none;
}

.panel-group#accordion{
  //text-decoration: none;
  margin-bottom: 0px;
}

.panel{
  padding-top: 20px;
  text-decoration: none;
  margin-bottom: 0px;
  background: none;
  border: none;
}

#question-card-content{
  color: black;
}

a:hover, a:focus {
  text-decoration: none;
}

// social shares css extra
.social-shares {
  text-decoration: none;
   a {
    color: black;
    text-decoration: none;
    }
   i {
    font-size: 30px;
    transition-duration: 3ms;
    }
    i:hover{
    color: $brand-color;
    }
}


.link-to-bet {
  border-style: solid;
  border-color: white;
  padding: 10px;
  text-decoration: none;
     a {
  text-decoration: none;
  color: black;
    }
}
#pending-results, #end-results {
  border-style: none;
  text-decoration: none;
  color: black;

    }

#randque-home-page{
  padding-left: 10px;
  border-color: $gray;
  border-style: solid;
    a {
    text-decoration: none;
    }
}
