.background {
  background: grey;
}

#resources-card{
  background-color: #bdc3c7;;
  color: white;
  margin-bottom: 15px;
  padding: 10px;
  margin-right: 20px;
}

.card-sean {
  word-wrap: break-word;
  background-color: white;
  margin-bottom: 15px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 30px;
  transition: box-shadow 300ms ease-in-out;
  box-shadow: 5px 5px 0px rgba($black,.1);
  &:hover {
    box-shadow: 1px 1px 0px rgba($black,.2);
  }

  &-callout {
    background-color: $purple;
    h1,
    h2,
    h3,
    h4,
    p {
      color: white !important;
    }
  }
  .pull-right {
    margin-right: 15px;
  }
  .votes {
    text-align: center;
  }
  .btn {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.heigth-vote {
  margin-left: 80px;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 100%;
  p, h1 {
    margin: 0;
  }
}

.white-back {
  background-color: white;
  padding: 10px;
  color: black;
  border-bottom: 1px solid lightgrey;
  margin-top: 2px;
}

.justification-positionning {
  display: flex;
  justify-content: space-between;
}

.justification-flex-item1 {
  padding: 3px;
  border: solid 1px lightgrey;
  flex: 0, 0, 20%;
}
.justification-flex-item2 {
  flex: 0, 0, 20%;
}
.justification-flex-body {
  padding: 3px;
  flex: 1, 0, auto;
  div {
    word-break: break-all;
  }
}

.bordered {
  border: solid 1px lightgrey;
}

.padded-chart {
  margin-top: 20px;
  margin-bottom: 20px;
}

#randque-wrapper-before-bet{
  margin-top: 40px;
  background-color:white;
}

#bet_estimation{
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: -17px;
}

#bet_show_page{
  margin-bottom:0px;
}

#bet-later-card, #unlock-text-field{
      text-align: center;
      }


